
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');




body {
    background-color: #D3D5D7;   
}


/* New task window, Add and Clear Buttons */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#form {
    padding: 5px;
    margin-top: 200px;
}


/* Textbox */

#textWindow {
    border-radius: 25px;
    border: 2px solid #050517;
    padding: 7px; 
    width: 200px;
    height: 15px;  
    font-family: 'Work Sans', sans-serif;
    background-image: url(https://cdn-icons-png.flaticon.com/512/1368/1368593.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-color: #fff;
    background-size: 1.5em;
    background-position: 1rem;
    padding-left: 2.8rem;
}


#textWindow:hover{
    border: 3px solid #050517;
}


#button {
    background-color: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    color: #121212;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: 'Work Sans', sans-serif;    
    font-weight: 700;
    line-height: 1;
    padding: 0.5rem 1rem;
    text-align: center;
}

#clear {
    background-color: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    color: #121212;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: 'Work Sans', sans-serif;    
    font-weight: 700;
    line-height: 1;
    padding: 0.5rem 1rem;
    text-align: center;
}

#clear:hover {
  box-shadow: #ef0c0c 0 0 0 1.5px, transparent 0 0 0 0;
}

#button:hover {
  box-shadow: #121212 0 0 0 1.5px, transparent 0 0 0 0;
}

#ansList {
    font-family: 'Work Sans';
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: decimal;

}

.alert {
    font-family: 'Work Sans';
    justify-content: center;
    text-align: center;
}

.fa-circle:hover:before {
    cursor: pointer;
    content: "\f058" !important;
    color: green;
    
    
    

}


